.banner {
  color: white;
  padding: 150px 0;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
}

.banner p {
  color: white;
  opacity: .6;
  font-size: 20px;
}


